/*Carousel*/

.carousel-inner img {
    max-width: 100%;
  height: auto;
 }

 .c1 img {
    max-width: 100%;
    height: auto;
 justify-content: center;
 }

 
 @media (min-width: 1200px) { 
     .carousel-inner img{
         width: 1350px;
     height: 500px;
     }
     .c1 img {
        max-width: 100%;
        height: auto;
     justify-content: center;
     }
 }
 @media (min-width: 1920px) { 
     .carousel-inner img{
         width: 1920px;
     height: 1080px;
     }
     .c1 img {
        max-width: 100%;
        height: auto;
     justify-content: center;
     }
 }
 @media (min-width: 768px) { /* for devices above 768px */
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
    
    
}






 /* ShoeShop Page*/

 @media (min-width: 768px) { /* for ipad */

    .f2 {
        position: absolute;
        top: 60px;
         max-width: 95%;
         height: auto;
         margin-bottom: 30px;
     
     }
}
@media (min-width: 992px) { /* for ipad Pro */

    .f2 {
        position: absolute;
        top: 130px;
         max-width: 97%;
         height: auto;
         margin-bottom: 30px;
     
     }
}
@media (min-width: 1200px) { /* for laptop */

    .f2 {
        position: absolute;
        top: 200px;
         max-width: 97.8%;
         height: auto;
         margin-bottom: 30px;
     
     }
}

@media (min-width: 1920px) { /* for Desktop */

    .f2 {
        position: absolute;
        top: 250px;
        left: 500px;
         max-width: 50%;
         height: auto;
         margin-bottom: 30px;
     
     }
}


@media (min-width: 768px) { /* for ipad */
    .t3{
        font-family: 'Segoe UI';
        position: absolute;
        top: 100px;
        left: 80px;        
  }
  .text1{
    font-size:xx-large;
}
.text2{ 
    font-size:x-large;}
.text3{
    font-size:larger;
}
.Ad4{
    font-family: 'Segoe UI';
    max-width: 100%;
    height: 430px;   
}
.t4{
    top: 70px;
    left: 30px;
}
.t5{
    top: 300px;
    left: 30px;
}
.t6{
    top: -300px;
    left: 0px;
}
.t7{
    top: -60px;
    left: 0px;
}

}


@media (min-width: 992px) { /* for ipad pro */
    .Ad4{
        font-family: 'Segoe UI';
        max-width: 100%;
        height: 643px;
        
    }
    .t3{
        font-family: 'Segoe UI';
        text-align: center;
        position: absolute;
        top: 200px;
        left: 145px;        
  }
  .t4 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 100px;
    left: 60px;
    
}

.t5 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 400px;
    left: 60px;

}

.t6 {
    font-family: 'Segoe UI';
    position: absolute;
    top: -480px;
    left: 10px;
}
.t7 {
    font-family: 'Segoe UI';
    position: absolute;
    top:-180px;
    left: 10px;

}


}



@media (min-width: 1200px) {  /* for laptops */
    .Ad4{
        font-family: 'Segoe UI';
        max-width: 100%;
        height: 643px;
        
    }
    .t3{
        font-family: 'Segoe UI';
        text-align: center;
        position: absolute;
        top: 200px;
        left: 200px;        
  }

.t4 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 130px;
    left: 100px;
    
}

.t5 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 430px;
    left: 100px;

}

.t6 {
    font-family: 'Segoe UI';
    position: absolute;
    top: -450px;
    left: 50px;
}
.t7 {
    font-family: 'Segoe UI';
    position: absolute;
    top:-120px;
    left: 50px;
}  

}




/*Used in the About us Page*/

@media (min-width: 992px) { 
    .vl{
      border-left: 1px solid #011236;
      height: 800px;
    } 
      
  }




 /* Blogs page*/
 
 @media (min-width: 992px) { 
    .t9{
        font-family: 'Segoe UI';
        position: absolute;
        top: -0px;
        left: 0px;        
  }

  .Ad{
    font-size: xx-large;
     }
    }

    @media (min-width: 1200px) { 
        .t9{
            font-family: 'Segoe UI';
            position: absolute;
            top: 0px;
            left: 0px;        
      }
    
      .Ad{
        font-size: xx-large;
         }
      
        }
        @media (min-width: 1920px) { 
            .t9{
                font-family: 'Segoe UI';
                position: absolute;
                top: 0px;
                left: 0px;        
          }
        
          .Ad{
            font-size: xx-large;
             }
            }


        

           
/* Boots page*/
.t13 {
    font-family: 'Segoe UI';  
    position: absolute;
    top: -160px;
    left: 0px;    
}
.Ad1{
    font-size:larger;
}
@media (min-width: 768px) {      /* for ipad */
    .t13{
        font-family: 'Segoe UI';
        position: absolute;
        top: -300px;
        left: 10px;        
  }

  .Ad1{
    font-size: xx-large;
     }
  
    }
    
    @media (min-width: 992px) {  /* for ipad Pro */
        .t13{
            font-family: 'Segoe UI';
            position: absolute;
            top: -400px;
            left: 10px;        
      }
    
      .Ad1{
        font-size: xx-large;
         }
      
        }
    
        @media (min-width: 1200px) {  /* for Laptops */
            .t13{
                font-family: 'Segoe UI';
                position: absolute;
                top: -500px;
                left: 200px;        
          }
        
          .Ad1{
            font-size: xx-large;
             }
          
            }
            @media (min-width: 1920px) {  /* for Desktops*/
                .t13{
                    font-family: 'Segoe UI';
                    position: absolute;
                    top: -900px;
                    left: 350px;        
              }
            
              .Ad1{
                font-size:xx-large;
                 }
              
                }
            





  /* Collections page*/ 
  
  @media (min-width: 768px) {  /* for ipad */
      
    .Ad5{
      font-size: xx-large;
       }

       .t12{
          font-family: 'Segoe UI';
          position: absolute;
          top: -300px;
          left: 20px;        
      }
      .ta{
          font-family: 'Segoe UI';
          position: absolute;
          top: -800px;
          left: 250px;        
    }
    .Ad3{
      font-size:xx-large;
     

  }

  .b1 {
      padding: 10px;
  }    

      }

    
  @media (min-width: 992px) {   /* for ipad Pro*/
      .ta{
          font-family: 'Segoe UI';
          position: absolute;
          top: -1000px;
          left: 50px;        
    }
    .Ad3{
      font-size:xx-large;
  }

  .Ad5{
      font-size: xx-large;
       }

  .b1 {
      padding: 10px;
  }
  .t12{
      font-family: 'Segoe UI';
      position: absolute;
      top: -380px;
      left: 10px;        
}    
}    

@media (min-width: 1200px) {  /* for Laptops */
  .ta{
      font-family: 'Segoe UI';
      position: absolute;
      top: -1000px;
      left: 250px;        
}
.Ad3{
  font-size:xx-large;
 }
  .Ad5{
  font-size:xx-large;
}

.b1 {
  padding: 10px;
}    
.t12{
  font-family: 'Segoe UI';
  position: absolute;
  top: -400px;
  left: 50px;        
}   
}    
        
@media (min-width: 1920px) {  /* for Desktops */
    .t12{
        font-family: 'Segoe UI';
        position: absolute;
        top: -700px;
        left: 350px;        
    }   
    .Ad5{
        font-size:xx-large;   
    }
}






      
     