
/*Carousel*/

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}

.c1 img {
    max-width: 100%;
    height: auto;
 justify-content: center;
 }




/*Common Styles */

.h3 {
    font-family: 'Segoe UI';
    padding-top: 10px;
} 

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .textbox{
    max-width: 100%; 
    height: 60px;
 }

.fa-star {      /*Used in the ratings of products */
    text-align: center;
    color: #EF9701;
}

.icon1 {
    padding: 0px; 
    color: #FAFAFA;
    min-width: 30px;
    text-align: center;
}







 /* ShoeShop Page*/

 .t1 {
    position: absolute;
    bottom: 80px;
    right: 180px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

 .f2 {
    position: absolute;
    top: 0px;
     max-width: 93%;
     height: auto;
     margin-bottom: 30px;
 
 }

 .f1 {
    position: relative;
     text-align: center;
     color: white;
     max-width: 100%;
     height: auto;
 }
 
.t3 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 30px;
    left: 110px;
}

.t4 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 130px;
    left: 100px;
    
}

.t5 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 430px;
    left: 100px;

}

.t6 {
    font-family: 'Segoe UI';
    position: absolute;
    top: -450px;
    left: 50px;
}
.t7 {
    font-family: 'Segoe UI';
    position: absolute;
    top:-120px;
    left: 50px;

}
.text1{
    font-size:x-large;
}
.text2{ 
    font-size:large;}
.text3{
    font-size: medium;
}
.Ad4{
    font-family: 'Segoe UI';
     max-width: 100%;
     height: auto; 
}





/*Used in the About us Page*/
.vl {
    border-left: 1px solid #011236;
    height: 0px;
  }

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


  


/* Blogs page*/
.t9 {
    font-family: 'Segoe UI';
    position: absolute;
    top: 0px;
    left: 0px;
}

.Ad{
    font-size:larger;
}
    .Mycontainer2 {
        max-width: 100%;
     height: auto;
        
    }
    
 
    


/* Boots page*/

.t13 {
    font-family: 'Segoe UI';
    font-size:xx-small;
    position: absolute;
    top: -160px;
    left: 0px;
     
}




/* Collections page*/

.t12{
    font-family: 'Segoe UI';
    position: absolute;
    top: -150px;
    left: 10px;        
}
.Ad5{
    font-size:larger;
     }

.Ad4{
    font-size:larger;
     }

     .Ad3{
        font-size:smaller;
    }

    .ta {
        font-family: 'Segoe UI';
        position: absolute;
        top: -215px;
        left: 50px;        
    }

.i1 {
    font-family: 'Segoe UI';
    position: absolute;
    top:-530px;
    left: 900px;
}






/*Footer*/

.footer-widget{
    text-align: center;
    
}
.footer-newsletter{
    text-align: center;
}

 .navbar-brand{
        text-align: center;
     }
    
   
     .footer-icons{
        text-align: center;
    } 





/*Thank you Page*/

@media (max-width: 576px) { 
    .display-4{
        font-size: xx-large;      
  }
  
}





 /* Top Menu styles*/

 .Mycontainer{
    background-color: #CC021C;
     color:#FAFAFA;
 }    

 .custom-toggler .navbar-toggler-icon {
    background-image: url("fas fa-bars")
}
